.title{
    padding-top: 150px;
    color: #0e77b5;
    font-family: Century Gothic, Helvetica, sans-serif;
    font-size: 3em;
}

.explanation{
    font-family: Century Gothic, Helvetica, sans-serif;
    color: #566168;
    font-size: 1.4em;
}