body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.centre{
    margin: auto;
}

.row{
    padding-top: 5px;
    padding-bottom: 5px;
}

.hidden{
    visibility: hidden;
}

.swappedOut{
    display: none !important;
}

.error{
    border: 1px solid red;
}

.msg-danger{
    color: red;
    font-weight: bold;
}

.msg-info{
    color: yellow;
    font-weight: bold;
}

.msg-success{
    color: green;
    font-weight: bold;
}