#quiz {
    width: 90%;
    background: rgb(74, 140, 247, 0.6);
    margin: 5%;
    padding-top: 75px;
}

#quiz-count {
    color: white;
    font-size: 1.2em;
    padding: 0px 20px 10px 20px;
}
#quiz-question {
    color: white;
    padding: 0px 20px 10px 20px;
}


#quiz-supplement {
    color: white;
    font-size: 1.18em;
    padding: 0px 20px 75px 20px;
}

