#quiz-summary {
    width: 90%;
    font-family: Century Gothic, Helvetica, sans-serif;
    background: rgb(69, 71, 99, 0.4);
    margin: 5%;
}

.variable {
    color: white;
    font-size: 1.2em!important;
}

#quiz-recap-wrapper {
    color: rgb(255, 255, 255, 0.5);
    font-size: 1.5em;
}

#quiz-report-score {
    padding: 20px;
}

#quiz-report-style {
    padding: 0px 20px 20px 20px;
}

#quiz-details {
    color: rgb(255, 255, 255, 0.5);
}

.quiz-question-unit {
    width: 44%;
    min-width: 200px;
    margin: 10px 3% 10px 3%;
}

.correct {
    background-color: rgb(9, 109, 19, 0.3);
}

.incorrect {
    background-color: rgb(130, 17, 5, 0.3);
}
