.quiz-button{
    padding: 35px 10px 35px 10px;
    margin: 3% 3% 3% 3%;
    color: #566168;
    background: rgb(247, 247, 247, 0.3);
    cursor: default;
}

.quiz-button:hover{
    color: white;
    background: rgb(0, 0, 0, 0.3);
}

.quiz-button.clicked:hover{
    color: #566168;
    background: rgb(247, 247, 247, 0.3);
}

.quiz-button.correct{
    color: white!important;
    background: rgb(2, 142, 33, 0.3)!important;
}

.quiz-button.incorrect{
    color: white!important;
    background: rgb(142, 29, 1, 0.3)!important;
}
