.vocab-tile-wrapper {
    padding: 0px 10px 0px 30px;
}

.settings-btn {
	max-width: 75px;
}

.settings-icon {
    max-width: 100%;
    opacity: 0.5;
}

.settings-wrapper {
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: rgb(0,0,0,0.2);
    color: white;
}

.title {
	padding-top: 10px;
}