.vocab-tile {
    position: relative;
    min-width: 200px;
    min-height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 20px 10px 20px 10px;
    cursor: pointer;
}

.tile-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

.vocab-tile-title {
    color: #566168;
    margin-left: auto;
    margin-right: auto;
    font-family: Century Gothic, Helvetica, sans-serif;
    font-size: 1.5em;
    padding-top: 20px;
}

.vocab-tile-description {
    margin: auto;
    color: #566168;
    font-family: Century Gothic, Helvetica, sans-serif;
    font-size: 1em;
    padding-top: 20px;
    display: none;
}

.vocab-tile:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 16px 0 rgba(0, 0, 0, 0.15);
}

.vocab-tile:hover .tile-overlay {
    background: rgb(0,0,0,0.4);
}

.vocab-tile:hover .vocab-tile-title {
    display: none;
}

.vocab-tile:hover .vocab-tile-description {
    color: white;
    display: block;
}
